In [59]:
from bokeh.plotting import figure
from bokeh.io import output_file,show
import pandas

df=pandas.read_csv("Final_Exchange_Data.csv")
#x=df["Date"]

BSE_V=df.loc[df["Exchange_Name"] == "BSE"]
#BSE_Prv_CLS=BSE_V["Previous_Close"]

p=figure(width=500,height=500,x_axis_type="datetime")

p.line(df["Date"],BSE_V["Previous_Close"],color="Red",alpha=0.5)

output_file("Time.html")

show(p)

BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('x', 14), ('y', 7)

In [64]:
df.loc[df["Exchange_Name"] == "BSE"]

,Date,A_Script Name,Exchange_Name,Previous_Close,Todays_Close,Todays_Open
0,"Jan 23, 16:00",Tata Consultancy Services Ltd.,BSE,1900.35,1879.75,1900.00
2,"Jan 24, 16:00",Tata Consultancy Services Ltd.,BSE,1879.75,1901.75,1882.00
4,"Jan 25, 16:00",Tata Consultancy Services Ltd.,BSE,1901.75,1919.05,1904.40
6,"Jan 28, 16:00",Tata Consultancy Services Ltd.,BSE,1919.05,1951.95,1931.70
8,"Jan 29, 16:00",Tata Consultancy Services Ltd.,BSE,1951.95,1983.15,1956.00
10,"Jan 30, 16:00",Tata Consultancy Services Ltd.,BSE,1983.15,1977.85,1983.15
12,"Jan 31, 16:00",Tata Consultancy Services Ltd.,BSE,1977.85,2014.60,1988.00